a.title.raw-link.raw-topic-link {
    font-family: monospace;
}

div.cooked p {
    font-family: monospace;
}

div.cooked p {
    font-family: monospace;
}

a.fancy-title {
    font-family: monospace;
}

div.title-wrapper {
    font-family: monospace;
}


a.title.raw-link.raw-topic-link {
    font-family: monospace;
}

div.link-bottom-line {
    font-family: monospace;
}
h3.suggested-topics-message {
    font-family: monospace;
}
div.suggested-topics-wrapper {
    font-family: monospace;
}

div.ember-view {
    font-family: monospace;
}
